# Ignore node_modules
node_modules/
npm-debug.log*

# Ignore environment files
.env
*.env

# Ignore input video and audio files
/video/
/audio/

# Ignore output folder
/output/

# Ignore CSV file
data.csv

# Ignore temporary files
*.tmp
*.log

# Ignore any compiled or temporary files
*.o
*.obj
*.exe
*.bin
*.bak
*.swp
.DS_Store

# Ignore any IDE/editor specific files
.vscode/
.idea/
